@import url('htpps://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;700display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
}
body {
    background-color: var (--cor-de-fundo);
    color:varr(--branco);
    font-family: 'Chakraa Petch', sans-serif;
    text-aling: center;
}
h1 span{
    color: var(--verde);
}
#dias_restantes{
    color: var(--verde);
    font-size: 50px;
}